@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
$BODY_BG: #ffff;

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('./fonts/ProximaNova-Regular.eot');
  src: url('./fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('./fonts/ProximaNova-Regular.woff') format('woff'),
      url('./fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  font-size: 13px;
  font-family: 'Proxima Nova Rg', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  color: #000000;
  overflow: hidden;
}

body {
  font-family: 'Proxima Nova Rg', Arial, Helvetica, sans-serif;
  background:$BODY_BG;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}