$PROGRESS_HEIGHT: 600px;
$PROGRESS_LIST_HEIGHT: 112px;
$PROGRESS_COUNTER_WIDTH: 24px;
$STEP_BG: #ffffff;
$primary: #0768fd;
$primary-light: #90b7f3;


//MAIN CONTAINER //

.stepContainer {
  width: 400px;
  height: 728px;
  padding: 24px 24px 32px;
  background: $STEP_BG;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  border: solid 1px #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    label{
      display: inline-block;
      line-height: 24px;
    }
  }
   
.stepList{
  position: relative;
  padding: 0 16px 0 56px;
  margin: 32px 0 0;
  list-style: none;
}

.stepItem {
  position: relative;
  counter-increment: list;
  padding-left: 8px;

  &:before {
    content: "";
    position: absolute;
    left: -21px;
    top: 29px;
    height: calc(100% - 35px);
    width: 1px;
    border-left: 2px solid #b5b5b5;
  }
  &:after {
    content: counter(list);
    position: absolute;
    top: 0;
    left: -33px;
    width: $PROGRESS_COUNTER_WIDTH;
    height: $PROGRESS_COUNTER_WIDTH;
    border-radius: 50%;
    background: #b5b5b5;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
  }
  &.stepOne{
    padding-bottom: 44px;
      .oneCheckbox{
        color: #444444;
      }
  }
  &.stepTwo{
    padding-bottom: 40px;
  }
  &.stepThree{
    input{
      width: 272px;
      height: 40px;
      margin: 16px 8px 32px;
      padding: 0 8px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
      border: solid 1px #d9d9d9;
      background-color: #ffffff;
      font-size: 16px;
      color: #999999;
    }
  }
  &:last-child {
    &:before {
      border: none;
    }
  }
  .stepTitle{
    margin: 0 0 16px 6px;
    font-weight: 600;
  }
  //Active
  &.stepItemActive {
    &:after {
      background: #00c221;
      color: $STEP_BG;
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes zoomIn {
      0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
      }
      50% {
      opacity: 1;
      }
      }
      @keyframes zoomIn {
      0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
      }
      50% {
      opacity: 1;
      }
      } 
    &::before{
      border-color: #00c221;
    }
    .stepTitle{
      color: #000000;
    }
  }
  //Completed
  &.stepItemCompleted {
    color: #595959;
    &:after {
      content: "\2713";
      font-weight: 400;
      background: #fff;
      color: #00c221;
      font-size: 24px;  
    }
    &::before{
      border-color: #00c221;
    }
    .stepTitle{
      color: #595959;
    }
  }
  //Disabled
  &.stepItemDisabled{
    *{
      pointer-events: none;
      color: #999999;
    }
    .primaryButton {
      color: #ffffff;
      opacity: 0.4; 
    }
    &:after{
      background-color: #b5b5b5;
      color: $STEP_BG;
    }
  }
}

.radioButtonInput{
  cursor: pointer;
  &:hover{
    color: #000000;
}
  & + span{
    color: #444444;
    cursor: pointer;
  }
  &:checked + span {
    font-weight: 600;
    color: #000000;
  }

}

.sentMessage{
  margin: 8px 0 0 8px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  white-space: break-spaces;
  color: #444444;
}

.primaryButton{
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(7, 104, 253, 0.32), 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  background-color: $primary;
  color: #ffffff;
  border: 0 none;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}
.buttonSmall{
  min-width: 110px;
  margin: 16px 0 0 4px;
  background: lighten($primary, 3%);
  border: 1px solid darken($primary, 4%);
  letter-spacing: 1px;
  transition: all 150ms linear;
  color: #ffffff;
    &:hover{
      background: darken($primary, 10%);
      border: 1px solid rgba(#000, .05);
      box-shadow: 1px 1px 2px rgba(#fff, .2);
      color: lighten(#b5b5b5, 18%); 
      text-decoration: none;
      transition: all 250ms linear;
  }
    &:active{
      background-color: $primary-light;
      opacity: 1;
      transition: 0s;
    }
    &:focus{
      font-weight: 600;
  }
}
.buttonLarge{
  min-width: 352px;
  margin: 60px -30px;
  border: 0 solid;
  transition: 0.5s ease-in-out;
   &:hover{
    box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px $primary-light;
  }
    &:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
    &:focus{
    color: #595959;
    font-weight: 600;
    background: $primary-light;
  }
}

.nudeButton{
  border: 0 none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #0768fd;
  cursor: pointer;  
  &:hover{
    color: $primary-light;
  }                               
}
.labelContainer{
  label{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    span:hover{
      color: #000000;
    }
    span:last-of-type{
      margin-left: auto;
      min-width: 130px;
    }
  }
  input[type="radio"]{
    height: 21px;
    margin: 0 5px;
    cursor: pointer;
  }
}
input[type="text"] {
  padding: 10px 16px;
  font-size: 16px;
  color: var(--black);
  background-color: #fff;
  border: 1px solid #597183;
  border-radius: 8px;
  margin-top: 5px;
  width: 100%;
  transition: all 0.3s ease;
  
}

.alertMessage{
  color: red;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
  
}
input[type="text"]:focus.alert{
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.9);
}
